.subgrid{
  margin: .8em;
  line-height: 1.5em;
  text-align: center;
}



@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


h1{
  margin: 0;
  padding: 1em 0;
  font-family: 'Poppins', sans-serif;
  font-size: 1.5;
}
h3{
font-family: 'Poppins', sans-serif;
font-weight: 300;
font-size: 1.5em;
}
h2{
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 1.5em;
  color: #B0E400;
  border-top: 2px solid black;
  padding-top: 10px;
}
.planet{
  width: 80%;
  height: 10em;
  display: block;
  height: auto;
  margin-top: 1em;
  margin-left: 10%;
  margin-right: 10%;
}

.intro{
  padding: 0;
  margin: 0;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  margin-top: 1.5em;
  font-size: 1.2em;
}

.intro2{
  padding: 0;
  margin: 0;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  margin-top: 1.5em;
  background-color: #C2E841;
  color: black;
  font-size: 1.2em;
}

.products{
  background-color: #ADD34C;
}
.gloves{
  width: 50%;
  padding: 1em;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  margin-top: 1.5em;
  border-radius: 15px;
}

.button1{
  color: black;
  border-radius: 10px;
  width: 50%;
  height: 50%;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background: #41A4E8;
  font-size: 1.5em;
  font-family: 'Poppins', sans-serif;
}

.apron{
  width: 50%;
  padding: 1em;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
margin-top: 1.5em;
border-radius: 25px;
}
.button2{
  color: black;
  border-radius: 10px;
  width: 50%;
  height: 50%;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background: #41A4E8;
  font-size: 1.5em;
  font-family: 'Poppins', sans-serif;

}
.straws{
  width: 50%;
  padding: 1em;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
margin-top: 1.5em;
border-radius: 25px;
}
.button3{
  color: black;
  border-radius: 10px;
  width: 50%;
  height: 50%;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background: #41A4E8;
  font-size: 1.5em;
  font-family: 'Poppins', sans-serif;

}
.checkout{
  padding: 0;
  margin: 0;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  margin-top: 1.5em;
  font-size: 1.5em;
}

.contact{
  padding: 0;
  margin: 0;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  margin-top: 1.5em;
  font-size: 1.2em;
  background-color: #41A4E8;
}

.extra{
  padding: 0;
  margin: 0;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  margin-top: 1.5em;
  font-size: 1.2em;
}
span{
color: #FF3D5C;
font-weight: 400;
}
.plastic1{
  width: 100%;
  border-radius: 15px;
}

@media only screen and (min-width: 850px) {

.subgrid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

h1{
  grid-column: 2 / 4;
  grid-row: 1 / 1;
  font-size: 2.5em;
  position: relative;
}
.subtitle{
  grid-column: 2 / 4;
  grid-row: 1 / 1;
  position: relative;
  top: 30%;
  font-size: 1.8em;
  line-height: 1em;
}

.planet{
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  position: relative;
  top: 3%;
}

.intro{
  grid-column: 2 / 4;
  grid-row: 1 / 1;
  position: relative;
  top: 60%;
  font-size: 1.8em;
  font-weight: 300;
  line-height: 1em;
}
.intro2{
  grid-column: 1 / 4;
  grid-row: 2 / 2;
  background-color: transparent;
  position: relative;
  font-size: 1.8em;
  line-height: 1em;
  border-top: 1px solid black;
  padding-top: 10px;
}
.gloves{
  grid-column: 1 / 1;
  grid-row: 3 / 3;
  width: 40%;
  position: relative;
  left: 15%;
  top: 4%;
}
.button1{
  grid-column: 1 / 1;
  grid-row: 4 / 4;
  position: relative;
  width: 30%;
  height: 15%;
  top: 10%;
  right: 23.5%;
}
.apron{
  grid-column: 2 / 2;
  grid-row: 3 / 3;
    width: 40%;
    height: 13em;
    position: relative;
    left: 25%;
}
.button2{
  grid-column: 2 / 2;
  grid-row: 4 / 4;
  position: relative;
  width: 30%;
  height: 15%;
  right: 12%;
  top: 5%;
}
.straws{
  grid-column: 3 / 3;
  grid-row: 3 / 3;
  width: 40%;
  height: 13em;
  position: relative;
  left: 25%;
}
.button3{
  grid-column: 3 / 3;
  grid-row: 4 / 4;
  position: relative;
  width: 30%;
  height: 2em;
  right: 12%;
  top: 5%;
}
a{
  padding: 0;
  margin: 0;
}
.checkout{
  display: none;
}
.extra{
  position: relative;
  top: .5em;
}
.shape{
  grid-column: 1 / 4;
  grid-row: 5 / 7;
  background-color: #8a8383;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: 15px;
  position: relative;
  top: 2em;
}
.contact{
  grid-column: 1 / 4;
  grid-row: 6 / 6;
  font-size: 1.8em;
  background-color: transparent;
  color: black;
  position: relative;
  bottom: 25%;
}
.extra{
  grid-column: 1 / 4;
  grid-row: 5 / 5;
  color: black;
  position: relative;
  bottom: 25%;
}
h2{
  grid-row: 7 / 7;
  grid-column: 1 / 4;
  font-size: 2.2em;
  text-decoration: underline;
}
.end{
  grid-row: 8 / 8;
  grid-column: 1 / 1;
  font-size: 2em;
  position: relative;
  line-height: 1em;
  top: 25%;
}
.extra{
  font-size: 1.8em;
}
.plastic1{
  grid-row: 8 / 8;
  grid-column: 2 / 4;
}

}
